/*@import "styles.css"; */

.container {
	margin-left: 80; 
	margin-right: 800;

	/* style="margin-left: auto; margin-right: auto" */
}

.introTitle {
	align-content: center;

}

#aiTitle {

}

body {
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-position: center 300px;
    background-position: left -100px;

}


.glowBlue {
	-webkit-box-shadow:0 0 20px blue; 
	-moz-box-shadow: 0 0 20px blue;
	box-shadow:0 0 20px blue;
}

.glowRed {
	-webkit-box-shadow:0 0 20px red; 
	-moz-box-shadow: 0 0 20px red;
	box-shadow:0 0 20px red;	
}

.playerTitle {
	color: blue;
	font-size: 24;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	align-content: center;
	outline-width: 3px;

}


.aiTitle {
	color: red;
	font-size: 40;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	outline-width: 3px;

}

h1 {
	align-content: center;
}