#main {
	max-width: 200px;
	margin 0 auto;
}

body {
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-position: bottom-center;

}

#button {
	margin 0 auto;
}

.button {
	margin 0 auto;
}