#main {

}

body {
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-position: bottom-center;

}

#button {
	margin 8 auto;
}

.button {
	margin 8 auto;
}

.container {

	max-width: auto;
	/*background-color: #C0C0C0; */
}

.introTitle {
	text-decoration-color: red;

}

.userTitle {
	/*margin-left: auto; margin-right: auto*/
}