#main {

}

body {
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-position: bottom-center;

}

#button {
	margin 8 auto;
}

.button {
	margin 8 auto;
}

.container {

	max-width: auto;
	/*background-color: #C0C0C0; */
}

.introTitle {
	text-decoration-color: red;

}

.userTitle {
	/*margin-left: auto; margin-right: auto*/
}


.glowBlue {
	-webkit-box-shadow:0 0 20px blue; 
	-moz-box-shadow: 0 0 20px blue;
	box-shadow:0 0 20px blue;
}

.glowRed {
	-webkit-box-shadow:0 0 20px red; 
	-moz-box-shadow: 0 0 20px red;
	box-shadow:0 0 20px red;	
}

.playerTitle {
	color: blue;
	font-size: 24;
	font-family: Helvetica, Arial, sans-serif;
	outline-width: 2px;

}